<section *ngIf="ordersToShow.length" class="user-trips">
    <div class="user-header">
        <h2 typingAnimation *ngIf="!isSearchActive">Szia {{user.fullname}}, van {{orders.length}} foglalásod</h2>
        <div *ngIf="isSearchActive" class="search-input">
            <input type="text" name="term" [(ngModel)]="orderFilter.term" (ngModelChange)="onSetFilter()" autofocus
                autocomplete="off" placeholder="Search an order here..">
            <span class="icon material-symbols-outlined" (click)="onClearSearch()">close</span>
        </div>
    </div>
    <br>

    <order-filter-modal (setOrdersToShow)="setOrdersToShow($event)" [ordersToShow]="ordersToShow" [filter]="orderFilter"
        (toggleFilterModal)="toggleFilterModal()" [orders]="orders" *ngIf="isShowFilterModal"></order-filter-modal>


    <div class="trips">
        <div class="titles">
            <h4 class="client-name">Ügyfél név</h4>
            <h4>Szállás név</h4>
            <h4>Érkezési idő</h4>
            <h4>Távozás dátuma</h4>
            <h4>Összes</h4>
            <h4>Status</h4>
            <h4>Status</h4>
        </div>
        <div *ngFor="let order of ordersToShow" class="trips-content">
            <span class="client-name">{{order.buyer.fullname}}</span>
            <span>{{order.stay.name}}</span>
            <span>{{order.startDate | date}}</span>
            <span>{{order.endDate | date}}</span>
            <span>{{order.totalPrice | currency}}</span>
            <span>
                <img src="assets/img/user/{{order.status}}.png" alt="">
            </span>
            <span *ngIf="order.status === 'pending'" class="actions-btns">
                <button class="approve mobile" (click)="onChangeStatus('approve', order)">
                    <span class="material-symbols-outlined">done</span>
                </button>
                <button class="decline mobile" (click)="onChangeStatus('decline', order)">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </span>
            <span ngClass="status {{order.status}}" *ngIf="order.status !== 'pending'">{{order.status}}</span>
        </div>
        <div class="paging">
            <div>
                <span>1-1 / 1</span>
            </div>
            <div>
                <span class="material-symbols-outlined">chevron_left</span>
                <span class="material-symbols-outlined">chevron_right</span>
            </div>
        </div>
    </div>
</section>

<app-loader *ngIf="this.loader.getLoading()"></app-loader>

<div *ngIf="!this.loader.getLoading() && !ordersToShow?.length" class="empty-orders">
    <h2>Nincs még utazás!</h2>
</div>
